.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: 1163px;    max-width: 980px;    text-align: left;
}

.content {
    width: 944px;
    margin: 15px 0 0 29px;float: right;
}
